/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #ffffff;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Centered Content */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.center h1 {
  font-size: 4rem;
  margin: 0;
}

.center p {
  font-size: 1.5rem;
  margin: 20px 0 0;
}
